.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-custom {
  height: 200px;
  object-fit: cover;
  background-size: center;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-custom {
  background-color: #0073e6; /* Lighter blue */
  border: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: #005bb5; /* Darker blue on hover */
}
body{
  background-color: rgb(179, 217, 255,0.2);
}